<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Local Government</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141725675-1"></script>
  <script type="text/javascript" th:src="@{/js/googleanalytics.js}"></script>
</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript" th:src="@{/js/tawkto.js}"></script>
<!--End of Tawk.to Script-->

<body>

  <hr />

  <h4>Local Government</h4>

  <div>
    <strong>Code:</strong> <span th:text="${localGov.code}"></span><br />
    <strong>Name:</strong> <span th:text="${localGov.name}"></span><br />
  </div>

  <h2>Wards</h2>
  <div>
    <table class="striped responsive-table">
      <tr>
        <th>#</th>
        <th><a th:href="@{?sortBy=code&sortDirection=ASC}">Code</a></th>
        <th><a th:href="@{?sortBy=name&sortDirection=ASC}">Name</a></th>
      </tr>
      <tr th:each="ward, i: ${form.localGovPage.content}">
        <td th:text="${(form.localGovPage.number*form.localGovPage.size)+i.index+1}"></td>
        <td style="white-space: nowrap;" th:text="${ward.code}"></td>
        <td>
          <a href="ward.html" th:href="@{/ward/{wardId}(wardId=${ward.id})}">
            <span th:text="${ward.name}"></span>
          </a>
        </td>

      </tr>
    </table>
  </div>

  <div class="pagination-div">
    <a th:href="@{/localgov/{localGovId}(localGovId=${localGov.id},page=0,size=${form.localGovPage.size})}">First</a>
    <span th:if="${form.localGovPage.hasPrevious()}">
      <a th:href="@{/localgov/{localGovId}(localGovId=${localGov.id},page=${form.localGovPage.number-1},size=${form.localGovPage.size})}">Previous</a>
    </span>
    Page<span th:text="${form.localGovPage.number+1}"></span> of <span th:text="${form.localGovPage.totalPages}"></span>
    <span th:if="${form.localGovPage.hasNext()}">
      <a th:href="@{/localgov/{localGovId}(localGovId=${localGov.id},page=${form.localGovPage.number+1},size=${form.localGovPage.size})}">Next</a>
    </span>
    <a th:href="@{/localgov/{localGovId}(localGovId=${localGov.id},page=${form.localGovPage.totalPages-1},size=${form.localGovPage.size})}">Last</a>
  </div>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

</body>

</html>